<br>
<% if flash[:notice]%>
<p class="flash-notice"><font color = "green"><%= flash[:notice] %></font></p>
  <% end %>
<% if @realizou_matricula%>

<p>Você solicitou matrícula nas seguintes disciplinas:</p>

<%= render 'disciplinas' %>

<p><%= link_to 'Enviar matrículas por email', :controller => 'matriculas', :action => 'email_matriculas'%> </p>
<%end%>
<br>
<h1>Avisos</h1>





<% @avisos.each do |aviso| %>
<h3> <%=aviso.titulo%></h3>
<%=aviso.detalhes%>
</br><span><b>postado por  <%= aviso.autor %> em <%= aviso.updated_at.to_s_br %> </b></span>
    	<%= link_to 'Editar', edit_aviso_path(aviso) %>
        <%= link_to 'Deletar', :controller => 'avisos', :action => 'delete', :id => aviso.id%>
    	
<br>
<br>
<% end %>


<br />

<%= link_to 'Novo aviso', new_aviso_path %>
