<p id="notice"><%= notice %></p>

<p>
  <b>Disciplina:</b>
  <%= @matricula.disciplina_id %>
</p>

<p>
  <b>Aluno:</b>
  <%= @matricula.aluno_id %>
</p>

<p>
  <b>Periodo:</b>
  <%= @matricula.periodo_id %>
</p>

<p>
  <b>Situacao:</b>
  <%= @matricula.situacao %>
</p>


<%= link_to 'Edit', edit_matricula_path(@matricula) %> |
<%= link_to 'Back', matriculas_path %>
